@font-face {
  font-family: Gilroy;
  src: url(Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy-bold;
  src: url(Gilroy-ExtraBold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #141414;
}

.navbar {
  background-color: #141414;
  overflow: hidden;
  padding-left: 88px;
  padding-right: 88px;
  
  
}

.navbar a {
  float: left;
  margin: 7px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #714da6;
  color: black;
  border-radius: 0.9em;
}

.navbar a.active {
  background-color: #714da6;
  color: black;
  border-radius: 0.9em;
}

.navbar .icon {
  display: none;
}

.search-container {
  float: right;
  margin: 12px;
}

input[type=text] {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

button {
  padding: 8px 15px;
  background: #714da6;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background: #ccc;
  color: black;
}

@media screen and (max-width: 1200px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar {
    padding: 0;
  }

  .search-container {
    display: none;
  }

}



/*SLIDER*/
.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
@media (max-width:1200px){
  .slider {
    height: 100vh;
  }
}
.slides {
  display: flex;
  width: 100%;
  height: 100%;
  
}
.slide {
  flex: 0 0 100%;
  transition: 0.5s;
  position: relative;
  box-shadow: inset 800px 50px 9000px #0000009f;
              
  
}

.slide[for="c1"] {
  background-position: center;
  background-image: url(shang.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide[for="c2"] {
  background-position: center;
  background-image: url(demon.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide[for="c3"] {
  background-position: center;
  background-image: url(frieren.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  height: 30px;
  width: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  transition: 0.1s ease;
  
}
.prev:hover {
  transform: scale(1.5);
}

.next:hover {
  transform: scale(1.5);
}

.back-btn, .next-btn {
  filter: invert(100%);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.label-wrapper{  
  position: absolute;
  width: 800px;
  margin-top: 140px;
  margin-left: 90px;
  flex-wrap: wrap;

 
}
.label {
  color: #eeeded;
  
}

.title {
  font-family: Gilroy-bold;
  font-size: 6rem;
  
}

@media (max-width:1200px) {
  .title {
    font-size: 4rem;
  }

  .label-wrapper{
    margin-top: 250px;
  }
}

.description {
  font-family: Gilroy;
  font-size: 1rem;
  
}

.info-wrapper{
  margin-top: 170px;
  margin-left: 200px;
  display: flex;
}
.genre {
  
  color: #eeeded;
  font-family: Gilroy;
  font-size: 20px;
}
.detail {
  margin-top: 15px;
  font-size: 15px;
}

.studio {
  margin-left: 70px;
  color: #eeeded;
  font-family: Gilroy;
  font-size: 20px;
}
.detail2 {
  margin-top: 15px;
  font-size: 15px;
}

.cssbuttons-io-button {
  margin-top: 20px;
  background: #6f42c1;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


/* Rating Btn*/
.rate-wrapper {
  float: left;
  margin-top: 170px;
}
.rate-label {
  color: #eeeded;
  font-family: Gilroy;
  font-size: 20px;
}
.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #e58e09;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}






